﻿@using Web.ViewModels
@using Web.ViewModels.Countries
@model Web.ViewModels.Countries.DetailedCountryViewModel

@{
    bool isReadonly = ViewBag.Readonly ?? true;
}

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" asp-for="Name" asp-is-disabled="@isReadonly" required="">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Local name</span>
                <input type="text" class="form-control" asp-for="LocalName" asp-is-disabled="@isReadonly">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Capital</span>
                <input type="text" class="form-control" asp-for="Capital" asp-is-disabled="@isReadonly">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Capital local name</span>
                <input type="text" class="form-control" asp-for="CapitalLocalName" asp-is-disabled="@isReadonly">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Area</span>
                <input type="number" class="form-control" asp-for="Area" asp-is-disabled="@isReadonly">
                <span class="input-group-addon">km<sup>2</sup></span>

            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Population </span>
                <input type="number" class="form-control" asp-for="Population" asp-is-disabled="@isReadonly">
            </div>
        </div>