﻿@using System
@using System.Collections.Generic
@using Web.ViewModels
@using Web.ViewModels.Countries
@model IEnumerable<Web.ViewModels.Countries.DetailedCountryViewModel>

<a class="list-group-item list-group-item-action list-group-item-success fake-list-item" data-toggle="list" href="#new" role="tab">
    <i class="fa fa-plus-square" aria-hidden="true"></i>
    Add country
</a>
@foreach (var country in Model)
{
    <a class="list-group-item list-group-item-action" data-toggle="list" href="@country.Name.ToListGroupToAnchorHref()" role="tab">@country.Name</a>
}