﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using Web.ViewModels
@using Web.ViewModels.Countries


<div class="tab-pane border" id="new" role="tabpanel">
    <form asp-controller="Home" asp-action="New" method="post">
        
    @{
        ViewBag.Readonly = false;
        Html.RenderPartial("_CountryDetails", new DetailedCountryViewModel());
        ViewBag.Readonly = true;
    }
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>