﻿@{
    ViewData["Title"] = "OPGK  Programming Task";
}

@using System
@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@using Web.ViewModels
@using Web.ViewModels.Countries

@model  IEnumerable<Web.ViewModels.Countries.DetailedCountryViewModel>

<div class="row">
    <div class="col-xs-4">                
        <div class="list-group" id="countries-list" role="tablist">
            @{ Html.RenderPartial("_CountriesList", Model); }
        </div>
    </div>

    <div class="ml-md-auto col-xs-8">        
        <div class="tab-content">
            
            @{ Html.RenderPartial("_NewCountry"); }

            @foreach (var country in Model)
            {
                <div class="tab-pane border" id="@country.Name.ToListGroupId()" role="tabpanel">
                    <form>
                        @{ Html.RenderPartial("_CountryDetails", country); }
                    </form>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#countries-list a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');

            $('#countries-list a').removeClass("active");
            $(this).addClass('active');

        });
        $(function() {
            var first$ = $('#countries-list a:not(.fake-list-item):first');
            first$.tab('show');
            first$.addClass('active');
        });
    </script>
}